<a href ="/dashboard/create"  style="margin-top: 5px;" class ="create">Create Post</a>

<h2 style="margin-left:45%;">My Posts</h2>
<div class="col-md-8">
{{#each posts }}

<form method="POST" action="api/post/delete/{{id}}">
    <button type="submit">DELETE</button>
</form>
{{>posts this }}
{{/each}}
</div>